/********************************************** common **********************************************/

header,
.container {
    width: 1140px;
    margin: 0 auto;
}



.wrapper-schedule,
.wrapper-way {
    height: 1120px;
}


.wrapper-phone {
    height: 1080px;
    background-image: url(./images/pattern.png);
    position: relative;
    width: 100%;
}

.wrapper-phone > img {
    position: absolute;
    top: 0px; 
    right: 107px;
}


.selected-title {
    width: 120px;
    position: absolute;
    top: 77px;
}

.selected-title > p {
    width: 126px;
    height: 48px;
    font-size: 34px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2.55px;
    text-align: center;
    color: black;
}

.selected-title > .selected-mark {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selected-title > .selected-mark > div {
    width: 20px;
    height: 2px;
    background-color: rgba(192, 192, 192, 0.33);
}

.selected-title > .selected-mark > div.active {
    width: 37px;
    background-color: rgb(114, 114, 114);
}







/********************************************** header **********************************************/
.wrapper-header {
    border-bottom: 1px solid rgba(221, 212, 212, 0.1);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 100px;
    position: relative;
    z-index: 10;
}

header img.logo {
    width: 190px;
    height: 44px;
    object-fit: contain;
    position: absolute;
    top: 28px;
    color: black;
    z-index: 10;
}

header nav {
    position: absolute;
    top: 42px;
    right: 0;
}


header nav ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

header nav ul > li {
    width: 61px;
    height: 27px;
    margin: 0 24px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.35px;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);

}

header nav ul > li > a {
    cursor: pointer;
    transition: all ease-in 300ms;
}

header nav ul > li:hover > a {
    color:black;
}

header nav ul > li:last-child {
    margin-right: 0;
}







/********************************************** phone **********************************************/
.wrapper-phone-content {
    height: 1079px;
    padding-top: 100px;
}

.phone-section {
    height: 100%;
    position: relative;
}

.phone {
    width: 640px;
    height: 943px;
    position: absolute;
    top: 40px;
    left: 250px;
    background-image:url(./images/mobile.png);
}

.phone-title {
    position: absolute;
    top: 150px;
    left: 158px;
    width: 322px;
    height: 119px;
    background-image: url(./images/phone-title.png);
}

.phone-slogan {
    position: absolute;
    top: 290px;
    left: 169px;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2.1px;
    text-align: center;
    color: #666666;
}

.phone-schedule {
    position: absolute;
    top: 333px;
    left: 83px;
    width: 474px;
    height: 53px;
    border-radius: 26.5px;
    background-color: #32cada;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 53px;
    letter-spacing: -1.95px;
    text-align: center;
    color: #ffffff;
}

.phone-content {
    position: absolute;
    top: 429px;
    left: 185px;
    width: 270px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.phone-content > p:first-child {
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: -1.65px;
    text-align: center;
    color: black;
}

.phone-content > p:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.8px;
    color: #23aab7;
}

img[src="images/char.png"] {
    position: absolute;
    right: 167px;
    bottom: 208px;
    width: 303px;
    height: 107px;
    object-fit: contian;

}

.phone-button {
    position: absolute;
    width: 350px;
    height: 70px;
    right: 145px;
    bottom: 139px;
    border-radius: 5px;
    background-color: #23aab7;
    text-align: center;
    cursor: pointer;
}

.phone-button > a {
    width: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.8px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.floating-ball {
    width: 100px;
    height: 100px;
    position: absolute;
}

.floating-box {
    position: absolute;
    width: 321px;
    height: 111px;
}

.floating-ball.floating-microphone {
    background-image: url(./images/icon-news-microphone.png);
    top: 107px;
    left: 124px;
}

.floating-ball.floating-headphones {
    background-image: url(./images/icon-headphones.png);
    top: 437px;
    left: 49px;
}

.floating-ball.floating-www {
    background-image: url(./images/icon-www.png);
    left: 172px;
    bottom: 85px;
}

.floating-ball.floating-share {
    background-image: url(./images/icon-share.png);
    top: 193px;
    right: 194px;
}

.floating-ball.floating-speech {
    background-image: url(./images/icon-speech.png);
    bottom: 313px;
    right: 80px;
}

.floating-ball.floating-news {
    background-image: url(./images/icon-news.png);
    bottom: 167px;
    right: 224px;
}


.floating-anytime {
    top: 266px;
    left: 0;
    background-image: url(./images/anytime-proposal.png);
}

.floating-anyone {
    left: 0;
    bottom: 261px;
    background-image: url(./images/anyone-proposal.png);
}

.floating-anywhere {
    width: 361px;
    bottom: 440px;
    right: 0;
    background-image: url(./images/anywhere-proposal.png);
}







/********************************************** intro **********************************************/
.wrapper-intro {
    height: 820px;
    background-image: url(./images/layer-4.png);
    position: relative;
    overflow: hidden;
}


.wrapper-intro > img {
    position: absolute;
}

.wrapper-intro > img[src="images/group-10.png"] {
    left: 86px;
}

.wrapper-intro > img[src="images/layer-14.png"] {
    bottom: 0;
}

.wrapper-intro > img[src="images/group-blue.png"] {
    top: 684px;
    right: 92px;
}


.intro-section {
    position: relative;
    height: 820px;
}

.intro-slogan-box {
    padding-top: 273px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-slogan .slogan-ko {
    font-size: 80px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -6px;
    text-align: left;
    /* color: #3f5381; */
    position: relative;
}

.intro-slogan.anytime .slogan-ko {
    color: #2f4475;
}

.intro-slogan.anywhere .slogan-ko {
    color: #f4af64;
}

.intro-slogan.anyone .slogan-ko {
    color: #53c6d2;
}

.intro-slogan .slogan-ko::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid black;
    width: 100%;
    right: 0;
    bottom: 37px;
    opacity: 0.2;
}

.intro-slogan.anytime .slogan-ko::after {
    border-bottom-color: #2f4475;
}

.intro-slogan.anywhere .slogan-ko::after {
    border-bottom-color:  #f4af64;
}


.intro-slogan.anyone .slogan-ko::after {
    border-bottom-color:  #53c6d2;
}

.intro-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 37px;
}

.slogan-en {
    opacity: 0.2;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 4.29; */
    letter-spacing: -2.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin-top: -8px;
}

.intro-text-box {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 172px;
}

.intro-text-box p {
    width: 450px;
    color:silver;
    text-align: justify;
}

.intro-text-box p > b {
    color: black;
}







/********************************************** program **********************************************/
.wrapper-program {
    height: 1322px;
    position: relative;
}


.program-section {
    position: relative;
    height: 1322px;
}

.program-content-wrapper {
    position: absolute;
    top: 148px;
    display: flex;
    justify-content:space-between;
    width: 100%;
}

img[src="images/vector-smart-object.png"] {
    flex: 1;
    height: 1013px;
    object-fit: contain;
}


.wrapper-program > img[src="images/sticky.png"] {
    position: fixed;
    right: 39px;
    bottom: 50px;
    z-index: 20;
}

.program-sidebar-wrapper {
    padding-top: 120px;
    width: 285px;
}

.program-sidebar-list-title {
    width: 285px;
    height: 40px;
    padding-left: 15px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.2px;
    text-align: left;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.program-sidebar-list-title.anytime {
    background-color: #2d53a4;
}

.program-sidebar-list-title.anywhere {
    background-color: #ed6e01;
}

.program-sidebar-list-title.anyone {
    background-color: #23aab7
}

.program-sidebar-list-title.here {
    background-color: #574f9f;
}


.right-bottom-angle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    z-index: 1;
    bottom: -10px;
    right: -10px;
    transform: rotate(45deg);
}


.program-sidebar-list > ul > li {
    min-height: 41px;
    line-height: 41px;
    border-bottom: 1px solid silver;
    color: #888888;
    padding-left: 15px;
    font-size: 13px;
    position: relative;
    transition: all ease-in 200ms;
}

.program-sidebar-list > ul > li > span,
.program-sidebar-list > ul > li > p {
    cursor: pointer;
}

.program-sidebar-list > ul > li .magnifier {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 11px;
}

.magnifier-head {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all ease-in 200ms;
}

.magnifier-pole {
    height: 1px;
    width: 5px;
    background-color: transparent;;
    position: absolute;
    right: 4px;
    top: 13px;
    transform: rotate(45deg);
    transition: all ease-in 200ms;
}

.program-sidebar-list-anytime > ul > li > span:hover {
    color: #2d53a4;
}

.program-sidebar-list-anywhere > ul > li > span:hover {
    color: #ed6e01;
}

.program-sidebar-list-anyone > ul > li > span:hover {
    color: #23aab7;
}

.program-sidebar-list-here > ul > li > span:hover {
    color: #574f9f;
}

.program-sidebar-list-anytime > ul > li span:hover + div.magnifier > .magnifier-head {
    border: 1px solid #2d53a4;
}

.program-sidebar-list-anytime > ul > li span:hover + div.magnifier > .magnifier-pole {
    background-color: #2d53a4;
}

.program-sidebar-list-anywhere > ul > li span:hover + div.magnifier > .magnifier-head {
    border: 1px solid #ed6e01;
}

.program-sidebar-list-anywhere > ul > li span:hover + div.magnifier > .magnifier-pole {
    background-color: #ed6e01;
}


.program-sidebar-list-here > ul > li span:hover + div.magnifier > .magnifier-head {
    border: 1px solid #574f9f;
}

.program-sidebar-list-here > ul > li span:hover + div.magnifier > .magnifier-pole {
    background-color: #574f9f;
}

.program-sidebar-list-anyone > ul > li span:hover + div.magnifier > .magnifier-head {
    border: 1px solid #23aab7;
}

.program-sidebar-list-anyone > ul > li span:hover + div.magnifier > .magnifier-pole {
    background-color: #23aab7;
}

.program-sidebar-list-anyone > ul > li p:hover {
    color: #23aab7;
}

.program-sidebar-list-anyone > ul > li p:hover + div.magnifier > .magnifier-head {
    border: 1px solid #23aab7;
}

.program-sidebar-list-anyone > ul > li p:hover + div.magnifier > .magnifier-pole {
    background-color: #23aab7;
}

.program-sidebar-list-anyone > ul > li p:hover ~ ul > li {
    color: #23aab7;
}

.program-sidebar-list > ul > li:last-child {
    border-bottom: none;
}

.small-list {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.6px;
    text-align: left;
    color: #888888;
}

.small-list:last-child {
    padding-bottom: 10px;
}







/********************************************** schedule **********************************************/
.wrapper-schedule {
    background-color: #fafafa;
}


.schedule-section {
    position: relative;
    height: 1120px;
}

.schedule-date {
    padding-top: 175px;
    display: flex;
    justify-content: center;
}

.schedule-date > a {
    all: unset;
    font-family: NanumSquareB;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.13;
    letter-spacing: -1.8px;
    text-align: center;
    margin: 0 15px;
    color: #aaaaaa;
    cursor: pointer;
    border-bottom: 2px solid #aaaaaa;
    transition: all ease-in 300ms;
}

.schedule-date > a:hover {
    color: #23aab7;
    border-bottom: 2px solid #23aab7;
}


.schedule-content {
    margin-top: 98px;
    display: flex;
    justify-content: center;
    position: relative;
}

.schedule-time {
    width: 1006px;
    height: 672px;
}

.schedule-time > li {
    text-align: left;
    height: 61px;
    line-height: 61px;
    font-size: 16px;
    border-top: 1px solid rgba(173, 173, 173, 0.15);
}

.schedule-time > li:last-child {
    border-bottom: 1px solid rgba(173, 173, 173, 0.15);
}

.schedule-float-boxs-wrapper {
    position: absolute;
    left: 177px;
    top: -56px;
    width: 895px;
    height: 716px;
    display: flex;
    justify-content:space-between;
}

.schedule-column {
    width: 285px;
    height: 716px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: skyblue; */
}

.schedule-column-title {
    width: 285px;
    height: 40px;
    margin-bottom: 19px;
    color: white;
    line-height: 40px;
    padding-left: 16px;
    position: relative;
    overflow: hidden;
}

.schedule-column-title::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    right: -10px;
    bottom: -10px;
    transform: rotate(45deg);
}

.schedule-column-anytime {
    background-color: #2d53a4;
}

.schedule-column-anywhere {
    background-color: #ed6e01;
}

.schedule-column-anyone {
    background-color: #23aab7;
}


.schedule-column-list {
    width: 285px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.2px;
    text-align: left;
    margin-bottom: 11px;
}

.schedule-column-list > div {
    width: 100%;
    height: 100%;
    padding-left: 16px;
}

.schedule-column-list::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:#fafafa;
    bottom: -11px;
    right: -11px;
    transform:rotate(45deg);
}

.schedule-column-list.anytime-list::after{
    border: 1px solid #2d53a4;
}

.schedule-column-list.anywhere-list::after{
    border: 1px solid #ed6e01;
}

.schedule-column-list.anyone-list::after{
    border: 1px solid #23aab7;
}


.anytime-list > div {
    background-color: white;
    border: 1px solid #2d53a4;
    color: #2d53a4;
}

.anytime-list-small {
    height: 50px;
    line-height: 50px;
}

.anytime-list-big {
    height: 111px;
    line-height: 111px;
}

.anywhere-list > div {
    background-color: white;
    border: 1px solid #ed6e01;
    color: #ed6e01;
}

.anywhere-list-small {
    height: 172px;
    line-height: 172px;
}

.anywhere-list-big {
    height: 233px;
    line-height: 233px;
}

.anyone-list > div {
    background-color: white;
    border: 1px solid #23aab7;
    color: #23aab7;
}

.anyone-list-small {
    height: 233px;
    line-height: 233px;
}

.anyone-list-big {
    height: 416px;
}

.anyone-list-big > div {
    padding-top: 107px
}

.anyone-list-big > div > ul {
    font-size: 13px;
    margin-bottom: 20px;
}


.right-bottom-angle.schedule-angle-blue {
    border: 1px solid #2d53a4;
}

div.schedule-float-boxs-wrapper > ul > li:last-child {
    margin-bottom: 0;
}







/********************************************** way **********************************************/
.wrapper-way {
    position: relative;
    text-align: center;
}

.way-top-section {
    position: relative;
    height: 173px;
}

.wrapper-way img[src="images/layer-8.png"] {
    width: 100%;
    height: 530px;
    object-fit: contain;
}

.way-bottom-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.way-bottom-section > article {
    width: 50%;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.way-bottom-section > article > p {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.8px;
    color:black;
    padding-bottom: 40px;
    text-align: left;
}

.article-content-wrapper {
    display: flex;
    padding-bottom: 30px;
}


.article-content-wrapper > div,
.article-content-wrapper > p {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: -1.65px;
    color: rgba(0, 0, 0, 0.452);
}

.article-content-wrapper > div.circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    margin-right: 22px;
    color: white;
}

.circle.img {
    border: 1px solid #23aab7;
}

.yellowgreen {
    background-color: #71ce7f;
}

.blue {
    background-color: #3d61ae;
}







/********************************************** footer **********************************************/
footer {
    height: 100px;
    background-color:rgb(24, 24, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer p {
    width: 347px;
    height: 10px;
    font-family: NanumSquareB;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
